<section class="section w3-bar w3-mobile card" style="width:100%; margin-top: 50px;">
    <div class="w3-container w3-center">
        <div class="w3-row">

            <div class="w3-col m4">
                <i class="fa fa-comment w3-padding-small w3-round-xlarge" style="font-size: 50px;"></i>
                <span>&nbsp</span>
                <button class="w3-btn" onclick="accFunction('contact')" style="font-size: 25px;">Contact Us</button>
                <div id="contact" class="w3-hide">
                    <p>
                        <a href="mailto:arthurm@ajareal.com" >Email:arthurm@ajareal.com</a>
                        <a href="mailto:jaronm@ajareal.com" >Email:jaronm@ajareal.com</a>
                        <a href="mailto:andrewm@ajareal.com" >Email:andrewm@ajareal.com</a>
                    </p>
                    <p>
                        Cell:877-987-4AJA
                    </p>
                    <p>
                        <a href="#" >4700 Millenia Blvd,</a>
                        <a href="#" >Suite 175,</a>  
                        <a href="#" >Orlando Fl 32839</a>                      
                    </p>
                 
                </div>
            </div>
         
        
            <div class="w3-col m4">
                <i class="fa fa-cloud w3-padding-small w3-round-xlarge" style="font-size: 50px;"></i>
                <span>&nbsp</span>
                <button class="w3-btn" onclick="accFunction('about')" style="font-size: 25px;">About Us</button>
                <div id="about" class="w3-hide">
                    <p>
                        <a href="../featured" >Latest</a>
                        <a href="../featured" >Best Selling</a>
                        <a href="../featured" >Top Rated</a>
                        <a href="../featured" >Top Selling</a>
                        <a href="../AboutUs" >About Us</a>
                    </p>
                </div>
            </div>
        
        
            <div class="w3-col m4">
                <i class="fa fa-dollar w3-padding-large w3-round-xlarge" style="font-size: 50px;"></i>
                <button class="w3-btn" onclick="accFunction('payment')" style="font-size: 25px; ">Payment Methods</button>
                <div id="payment" class="w3-hide">
                    <p>
                        <a href="https://www.paypal.com/us/home" >Paypal</a>
                        <a href="https://www.wellsfargo.com/" >Debit/Credit Card</a>
                        <a href="https://cash.app/" >CashApp</a>
                        <a href="https://www.amazon.com/gp/help/customer/display.html?nodeId=GNQFBWDZJN838JZF" >Amazon</a>
                        <a href="https://www.zellepay.com/" >Zelle</a>
                    </p>
                </div>
            </div>
        </div>    
    </div>    
</section>
 
<p></p>

<footer class="section w3-bar w3-mobile" style="width:100%;">
    <div class="w3-container">    
        
        
        <div class="w3-mobile" align="right" style="display: block; width:80%; height: 45px"> 
            <div>   
                <h6 style=" color: black;" >Powered by AMAC, Fly Robin. AJAEnterprise LLC is an equal opportunity employer and supports fair housing. Follow Us:</h6>
            </div>
            <div class="w3-center">
                <a href="#" class="fa fa-facebook" style="width:7%; height: 25px"></a>  
                <a href="#" class="fa fa-twitter" style="width:7%; height: 25px"></a>  
                <a href="#" class="fa fa-linkedin" style="width:7%; height: 25px"></a>  
                <a href="#" class="fa fa-youtube" style="width:7%; height: 25px"></a>  
                <a href="#" class="fa fa-skype" style="width:7%; height: 25px"></a>  
            </div>
        </div>  
            <div class="w3-mobile " align="right" style="display:flex; margin-top: 45px;">          
            <div class="footer_brand w3-bar">
                <img src="https://ajaenterprise.s3.amazonaws.com/AJAEnterprise.png" alt="loading...">
                <h6 style=" color: black; margin-top: -25px;">Copyright 2023
                     AJA Real Enterprise LLC</h6>
            </div>
        </div> 
    </div>
</footer>
