<%-include ("header"); -%>
      <div class="w3-center">
        <img src="https://ajaenterprise.s3.amazonaws.com/check-mark-3280.png" alt="loading..." width=125px; height=60px;>
      </div>
  </div>
  <div> 
    <h1 class="w3-center w3-big" style="width:125px; height:60px; color:white; margin:auto">
      Success! <%= custName %>
    </h1>
  </div>
  <%-include ("footer"); -%>
</body>
<!-- this ia a comment use CTRL + /-->
</html>
